# -*- shell-script -*-
# Make some helper commands available in the PATH.
PATH_add ./bin/

# Make nix-related functions available to child .envrc files.
#
# `use_nix` function:
#   In a child directory's .envrc, you can source this .envrc and call this
#   function to load a nix shell environment with caching and persistence support:
#
#     source_env ..
#     use_nix -s shell.nix -w [file to watch] -w [another file to watch]
source ./nix/direnvrc

nix_dir=$(pwd)/nix

# Call `use_nix` with common defaults.
#
# This adds all files in the directory `nix/` to the files to
# hash and watch, under the assumption that it will be common to use
# derivations and helpers in `nix/` in your `shell.nix`.
use_nix_default () {
    use_nix -s shell.nix $(find $nix_dir -type f -exec echo "-w {}" \;) "$@"
}

# Use our own ADR filename format
export ADR_FILENAME_FORMAT="%03d-%s.adr"

# Make common tools available everywhere. e.g. flake8, black
use_nix_default
